* {
    box-sizing: border-box;
}

a {
    cursor: pointer;
}

body {
    color: #222;
}

img {
    max-width: 100%;
}

main {
    padding: 10px;
    max-width: 960px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 50px;
    align-items: center;
}

header a {
    text-decoration: none;
    color: inherit;
}

header a.logo {
    font-weight: bold;
    font-size: 1.5rem;
}

header nav {
    display: flex;
    gap: 24px;
}

div.post {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin-bottom: 30px;
}

@media screen and (min-width: 700px) {
    div.post {
        grid-template-columns: .9fr 1.1fr;
    }
}

div.post div.texts h2 {
    margin: 0;
    font-size: 2rem;
}

div.post div.texts a {
    text-decoration: none;
    color: inherit;
}

div.post p.info {
    margin: 0px 0;
    color: #888;
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    align-items: end;
    gap: 10px;
}

div.post p.info a.author {
    color: #333;
}

div.post p.summary {
    margin: 10px 0;
    line-height: 1.8rem;
}

form.login,
form.register {
    max-width: 400px;
    margin: 0 auto;
}

input {
    display: block;
    margin-bottom: 5px;
    width: 100%;
    padding: 5px 7px;
    border: 2px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
}

button {
    cursor: pointer;
    width: 100%;
    display: block;
    background-color: #555;
    border: 0;
    color: #fff;
    border-radius: 5px;
    padding: 7px 0;
}

form.login h1,
form.register h1 {
    text-align: center;
}

div.post-page div.image {
    max-height: 300px;
    display: flex;
    overflow: hidden;
}

div.post-page div.image img {
    object-fit: cover;
    object-position: center center;
    width: 100%;
}

div.post-page a {
    color: #333;
    text-decoration: underline;
}

div.post-page h1 {
    text-align: center;
    margin: 10px 0 5px;
}

div.post-page time {
    text-align: center;
    display: block;
    font-size: 1rem;
    color: #aaa;
    margin: 10px 0;
}

div.post-page div.author {
    text-align: center;
    margin-bottom: 20px;
    font-size: .7rem;
    font-weight: bold;
}

div.content p {
    line-height: 1.7rem;
    margin: 30px 0;
}

div.content li {
    margin-bottom: 10px;
}

div.edit-row {
    text-align: center;
    margin-bottom: 20px;
}

div.post-page a.edit-btn {
    background-color: #333;
    display: inline-flex;
    align-items: center;
    gap: 5px;
    color: #fff;
    padding: 15px 30px;
    border-radius: 5px;
    text-decoration: none;
}

a svg {
    height: 20px;
}

.pageinationButtons>Button {
    width: 10%;
    color: black;
    font-weight: 600 !important;
}

.pageinationButtons>span {
    /* width:19%; */
    /* color:rgb(69, 64, 64); */
    font-size: 16px;
    font-weight: 600;
    margin-left: 5%;
    margin-right: 5%;
}

.pageinationButtons {
    display: flex;
    justify-content: center;
    gap: 8px;
    align-items: baseline;

}

.css-1c2i806-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
    color: black !important
}

.MuiCardContent-root.css-46bh2p-MuiCardContent-root {
    padding-top: 8px !important;
    padding-bottom: 8px;
}

.reviews {
    margin-top: 16px;

}

.ed-icon {
    width: 16%;
    color: rgb(60, 35, 35);
    background-color: whitesmoke;
}

.btn-container {
    display: flex;
    justify-content: end;
    gap: 4px;
    width: 40%;
    height: max-content;
    padding-right: 24px;
}

.css-1xez8po-MuiPaper-root-MuiCard-root {
    background-color: #fff !important;
    color: rgba(0, 0, 0, 0.87) !important;
    -webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms !important;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms !important;
    border-radius: 8px !important;
    box-shadow: 0px 5px 1px -1px rgba(0, 0, 0, 0.1), 0px 1px 1px -10px rgba(0, 0, 0, -0.86), 0px 1px 1px 2px rgba(0, 0, 0, 0.12) !important;
    overflow: hidden !important;
    max-width: 100% !important;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.textAreaMain {
    width: 100%;
    height: 80px !important;
    font-family: IBM Plex Sans, sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 12px;
    border-radius: 12px 12px 0 12px;
    color: #24292f;
    background: #fff;
    border: 1px solid #d0d7de;
    box-shadow: 0px 2px 2px #f6f8fa;

    &:hover {
        border-color: #3399FF;
    }

    &:focus {
        border-color: #3399FF !important;
        box-shadow: 0 0 0 0.3px #b6daff;
    }
}

.css-ryrseu-MuiRating-root {
    color: #746a54 !important;
    cursor: pointer;
    margin-bottom: 16px !important;
}

.texts .css-ryrseu-MuiRating-root {
    color: #746a54 !important;
    cursor: pointer;
    margin-bottom: 0px !important;
}

.css-iljtu2-MuiRating-root {
    color: #fa3700;
}

#thoughts::first-letter {
    color: rgb(187, 13, 13);
    font-size: 2.3rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
}

.ratingPost {
    left: 50%;
    transform: translate(-50%, 0);
    margin-bottom: 0px !important;
}

@media (max-width: 500px) {
    .pageinationButtons {
        display: flex;
        flex-direction: column-reverse;
        align-items: stretch;
    }

    .prev-button {
        margin-left: 16px !important;
        margin-top: 4px !important;
    }

    .pageinationButtons>span {
        margin-left: 1.5%;
    }

    .create {
        margin-left: 40px;
    }

    .edit-row {
        display: flex;
        flex-direction: column;
        gap: 8px;
        align-items: stretch;
        margin-left: 0px;
    }

    div.post-page a.edit-btn {
        margin-left: 0px !important;
        justify-content: center;
    }

    .ed-icon {
        width: 40%;
    }
    .css-83ijpv-MuiTypography-root{
        min-width: max-content !important;
    }
}